body {
  /* color: purple; */
  color: #c2c2d6;
  /* color: white; */
  text-align: center;
  font-size: 30px;
  font-family: "Lobster", cursive;
  /* background-color: #c2c2d6; */
  background-color: black;
}
::selection {
  color: none;
  background: none;
}
h3 {
  color: rgb(80, 48, 80);
}
form {
  margin-top: 40px;
  margin-bottom: 40px;
}
input {
  font-size: 15px;
}
button {
  font-size: 15px;
  background-color: black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px;
  font-family: "Lobster", cursive;
}
button:hover {
  background-color: rgb(80, 48, 80);
}
button:disabled {
  background-color: gray;
  cursor: unset;
}
#refresh {
  padding: 10px;
  margin-top: 15px;
}
.images-grid {
  /* background-color: #c2c2d6; */
  background-color: black;
  color: black;
  display: grid;
  margin: 0 auto;
  grid-gap: 30px;
  grid-template-areas:
    "a b c d"
    "e f g h"
    "j k l m";
}
.box {
  /* background: aqua; */
  background: url("https://images.pexels.com/photos/2763927/pexels-photo-2763927.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  border-radius: 5px;
  height: 150px;
  width: 150px;
  margin: auto;
  animation: pulse;
  animation-duration: 2s;
}
img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

/* the replacement box after images were matched */
.empty-box {
  background: black;
  width: 150px;
  height: 150px;
}

/* class for images in the box */
.bi {
  display: none;
}

/* class for each box in the grid */
.b1 {
  grid-area: "a";
}
.b2 {
  grid-area: "b";
}
.b3 {
  grid-area: "c";
}
.b4 {
  grid-area: "d";
}
.b5 {
  grid-area: "e";
}
.b6 {
  grid-area: "f";
}
.b7 {
  grid-area: "g";
}
.b8 {
  grid-area: "h";
}
.b9 {
  grid-area: "i";
}
.b10 {
  grid-area: "j";
}
.b11 {
  grid-area: "k";
}
.b12 {
  grid-area: "l";
}

@media screen and (max-width: 715px) {
  .box,
  .empty-box,
  img {
    width: 80px;
    height: 80px;
  }

  .images-grid {
    grid-template-areas:
      "a b c "
      "d e f"
      "g h i"
      "j k l";
  }
}
