body {
  color: purple;
  text-align: center;
  font-size: 30px;
  font-family: "Lobster", cursive;
  background-color: #c2c2d6;
}
form {
  margin-top: 40px;
  margin-bottom: 40px;
}
input {
  font-size: 15px;
}
button {
  font-size: 15px;
  background-color: black;
  color: white;
  cursor: pointer;
}
button:disabled {
  background-color: gray;
  cursor: unset;
}
.images-grid {
  background-color: #c2c2d6;
  color: black;
  display: grid;
  margin: 0 auto;
  grid-gap: 30px;
  grid-template-areas:
    "a b c d"
    "e f g h"
    "j k l m";
}
.box {
  background: aqua;
  height: 150px;
  width: 150px;
  margin: auto;
}
img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}

/* the replacement box after images were matched */
.empty-box {
  background: grey;
  width: 150px;
  height: 150px;
}

/* class for images in the box */
.bi {
  display: none;
}

/* class for each box in the grid */
.b1 {
  grid-area: "a";
}
.b2 {
  grid-area: "b";
}
.b3 {
  grid-area: "c";
}
.b4 {
  grid-area: "d";
}
.b5 {
  grid-area: "e";
}
.b6 {
  grid-area: "f";
}
.b7 {
  grid-area: "g";
}
.b8 {
  grid-area: "h";
}
.b9 {
  grid-area: "i";
}
.b10 {
  grid-area: "j";
}
.b11 {
  grid-area: "k";
}
.b12 {
  grid-area: "l";
}

@media screen and (max-width: 600px) {
  body {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr 1fr 0.25fr;
    grid-template-areas:
      "title"
      "theme"
      "message"
      "images"
      "refresh";
  }
  h1 {
    grid-area: "title";
  }
  form {
    grid-area: "theme";
  }
  h3 {
    grid-area: "message";
  }
  .images-grid {
    grid-area: "images";
  }
  #refresh {
    grid-area: "refresh";
    margin-top: 40px;
    width: 200px;
    height: 20px;
  }
}
